<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 shadow-lg mt-5">
      <div class="row">
          <div class="col-md-4 bg-chat-app">
              <h1 class="text-capitalize p-5 text-white font-weight-bold">sign in</h1>
              <h6 class="text-white pr-5 pl-5 display-1">
                  Welcome to Xoxoxo Chat App. Connect with friends and family.
              </h6>
              <h4 class="text-white text-uppercase pr-5 pl-5 font-weight-bold">
                  on the go!
              </h4>
              <h5 class="text-white p-5 mt-5">
                  <img src='assets/download.png' />
              </h5>
          </div>
          <div class="col-md-8 bg-light">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
