<div class="container w-50 shadow-lg">
    <div class="row mt-5">
        <div class="col-md-4 bg-warning">
            <h1 class="text-capitalize p-5 text-white">sign in</h1>
            <h6 class="text-white pr-5 pl-5">
                Welcome to Goodness Chat App. Connect with friends and family.
            </h6>
            <h4 class="text-white text-uppercase pr-5 pl-5">
                on the go!
            </h4>
            <h5 class="text-white p-5 mt-5">
                Logo
            </h5>
        </div>
        <div class="col-md-8 bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>