mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .example-container {
    height: 90vh;
  }
  .chatInput{
    border-radius: 50px;
  }
  .msgInput{
    border-radius: 30px;
  }
  .msgCentre{
    height: 73vh;
  }
  .chat-page{
    margin-top: -150px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  .bg-chat-page {
    background-color: #b6e2cd;
  }
