.gradient-background{
    background-color: yellow;
}
.display-4{
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-1 {
  font-size: 1rem;
  font-weight: 50;
  line-height: 1.2;
}
