<div class="bg-white text-center p-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 p-5">
                <h1 class="text-danger font-weight-bold pb-2">Chat App</h1>
                <h6>Chat wih friends and family</h6>
                <button class="btn text-white btn-lg" mat-raised-button color='accent' routerLink="/signup">Get Started</button>
            </div>
            <div class="col-md-6">
                <img src="assets/chat-pic.jpg" class="img-fluid" alt="" srcset="">
            </div>
        </div>
    </div>
</div>