<div class="text-center p-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 p-5">
                <h1 class="text-chat-app pb-2 display-4 font-weight-bold">Chat App</h1>
                <h6 class="display-1 font-weight-bold text-white">Chat wih friends and family</h6>
                <button class="btn text-white btn-lg bg-chat-app" mat-raised-button routerLink="/signup">Get Started</button>
            </div>
            <div class="col-md-6">
                <img src="assets/chat-pic.png" class="w-100 h-75 bg-chat-app" alt="" srcset="">
            </div>
        </div>
    </div>
</div>
